$color-blue: #0834c4;
$color-orange: #eb6e4b;

:root {
  --color-white: #fff;
  --color-blue: #0834c4;
  --color-orange: #eb6e4b;
  --color-primary: #48484a;
  --color-red: #f00;
  --font-roboto: "Roboto", sans-serif;
  --shadow-color: #04040421;
}
