<div class="map-component">
  <app-sidebar-controls [mapView]="mapView" />
  <div class="main-map">
    <div class="map-container" [style.height]="height">
      <app-map-view class="map-view" [mapView]="mapView" tabindex="0" />
      <app-scaleline class="scaleline" [mapView]="mapView" />
      <app-mouse-position class="mouse-position" [mapView]="mapView" />
      <app-map-legend [legend]="selectedLayerForLegend" />
      <app-maps-popup [mapView]="mapView" />
      <app-map-search [mapView]="mapView" />
    </div>
  </div>
</div>
